{% extends 'layout.html.twig' %}

{% block title %}Ajout d'une catégorie
{% endblock %}

{% block content %}

			<h1 class="display-4 my-5 text-center">AJOUT D'UNE CATEGORIE</h1>

			{{form(formCategorie)}}
		</div>
	</div>
{% endblock %}
